<div class="container text-center">
    <div class="container text-left">
        {{ form_start(form) }}
        {{ form_label(form, 'Code')}}
        {{ form_widget(form.code , {'attr': {'placeholder': 'Ajouter un code','class':'form-control mb-2'}}) }}
        {{ form_label(form, 'Titre')}}
        {{ form_widget(form.title , {'attr': {'placeholder': 'Ajouter un titre','class':'form-control mb-2'}}) }}
        {{ form_label(form, 'Description')}}
        {{ form_widget(form.description , {'attr': {'placeholder': 'Ajouter une description','class':'form-control mb-2'}}) }}
        {{ form_label(form, 'Pays')}}
        {{ form_widget(form.country , {'attr': {'placeholder': 'Ajouter une date de fin','class':'form-control mb-2'}}) }}
        {{ form_label(form, 'Date de début')}}
        {{ form_widget(form.dateDebut , {'attr': {'placeholder': 'Ajouter une date de début','class':'form-control mb-2',}}) }}
        {{ form_label(form, 'Date de fin')}}
        {{ form_widget(form.dateFin , {'attr': {'placeholder': 'Ajouter une date de fin','class':'form-control mb-2'}}) }}
        {{ form_label(form, 'Type')}}
        <div class="d-flex align-items-center justify-content-center align-items-center">
            {{ form_widget(form.type , {'attr': {'placeholder': 'Ajouter une date de fin','class':'form-control mb-2'}}) }}
            <a href="/type" class="btn btn-success ml-2 mb-2" style="min-width: 10rem">Ajouter un type</a>
        </div>
        {{ form_label(form, 'Status')}}
        <div class="d-flex align-items-center justify-content-center align-items-center">
            {{ form_widget(form.status , {'attr': {'placeholder': 'Ajouter une date de fin','class':'form-control mb-2'}}) }}
            <a href="/status" class="btn btn-success ml-2 mb-2" style="min-width: 10rem">Ajouter un status</a>
        </div>
        {{ form_label(form, 'Spécialité')}}
        <div class="d-flex align-items-center justify-content-center align-items-center">
            {{ form_widget(form.speciality , {'attr': {'placeholder': 'Ajouter une date de fin','class':'form-control mb-2'}}) }}
            <a href="/speciality" class="btn btn-success ml-2 mb-2" style="min-width: 12rem">Ajouter une spécialité</a>
        </div>
        {{ form_label(form, 'Cibles')}}
        {{ form_widget(form.targetMission , {'attr': {'placeholder': 'Ajouter une date de fin','class':'d-flex align-content-center flex-wrap mb-2'}}) }}
        <a href="/target/add" class="btn btn-success mb-2" style="min-width: 12rem">Ajouter une cible</a>
        {{ form_label(form, 'Agents')}}
        {{ form_widget(form.agentMission , {'attr': {'placeholder': 'Ajouter une date de fin','class':'d-flex align-content-center flex-wrap mb-2'}}) }}
        <a href="/agent/add" class="btn btn-success mb-2" style="min-width: 12rem">Ajouter un agent</a>
        {{ form_label(form, 'Contacts')}}
        {{ form_widget(form.contactMission , {'attr': {'placeholder': 'Ajouter une date de fin','class':'d-flex align-content-center flex-wrap mb-2'}}) }}
        <a href="/contact/add" class="btn btn-success mb-2" style="min-width: 12rem">Ajouter un contact</a>
        {{ form_label(form, 'Planques')}}
        {{ form_widget(form.planqueMission , {'attr': {'placeholder': 'Ajouter une date de fin','class':'d-flex align-content-center flex-wrap mb-2'}}) }}
        <a href="/planque/add" class="btn btn-success mb-2" style="min-width: 12rem">Ajouter une planque</a>
        <div class="container text-center">
            <button class="btn btn-primary mb-5" style="min-width: 12rem">{% block btn %}{{ name }}{% endblock%} </button>
        </div>
        {{ form_end(form) }}

    </div>
</div>

