<table class="table col text-left mb-5">
    <tr>
        <th scope="col">Code</th>
        <th scope="col">Titre</th>
        <th scope="col">Date de début</th>
        <th scope="col">Date de fin</th>
        <th scope="col">Status</th>
        <th scope="col">Voir détails</th>
        {% if app.user %}
            <th scope="col">Modifier</th>
            <th scope="col">Supprimer</th>
        {% endif %}
    </tr>
    {% for mission in missions %}
        <tr>
            <td>{{ mission.code }}</td>
            <td>{{ mission.title }}</td>
            <td>{{ mission.dateDebut.format('d-m-Y') }}</td>
            <td>{{ mission.dateFin.format('d-m-Y') }}</td>
            <td>{{ mission.status }}</td>
            <td><a href="mission/{{ mission.id }}" class="btn btn-success">Plus</a></td>
            {% if app.user %}
                <td>
                    <a class="btn btn-primary" href="/mission/{{ mission.id }}/edit">Modifier</a>
                </td>
                <td>{% include 'components/mission/_modal.html.twig' %}
                    {% block button %}
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal{{ mission.id }}">
                            Suprimer
                        </button>
                    {% endblock %}
                </td>
            {% endif %}
        </tr>
    {% endfor %}
</table>