{% extends 'base.html.twig' %}
 {% block body %}
     {% include 'components/_header.html.twig' %}
     {% include 'components/_navbar.html.twig' %}
     <div class="container mt-4">
         {% include 'components/mission/_messages_flash.html.twig' %}
         <h1 class="my-5 text-dark text-center">Missions</h1>
         <div class="container text-center">
             <a href="/mission/add" class="btn btn-success">Ajouter une nouvelle mission</a>
         </div>
     </div>
     <div class="container">
         <div class="row">
             {% if missions is not empty %}
                 <table class="table m-5 col text-center">
                     <tr>
                         <th scope="col">Code</th>
                         <th scope="col">Titre</th>
                         <th scope="col">Date de début</th>
                         <th scope="col">Date de fin</th>
                         <th scope="col">Voir détails</th>
                        {% if app.user %}
                         <th scope="col">Modifier</th>
                         <th scope="col">Supprimer</th>
                         {% endif %}
                     </tr>
                     {% for mission in missions %}
                         <tr>
                             <td>{{ mission.code }}</td>
                             <td>{{ mission.title }}</td>
                             <td>{{ mission.dateDebut.format('d-m-Y') }}</td>
                             <td>{{ mission.dateFin.format('d-m-Y') }}</td>
                             <td><a href="mission/{{ mission.id }}" class="btn btn-success">Voir plus</a></td>
                             {% if app.user %}
                                 <td>
                                     <a class="btn btn-primary" href="/mission/{{ mission.id }}/edit">Modifier</a>
                                 </td>
                                 <td>{% include 'components/mission/_modal.html.twig' %}
                                     {% block button %}
                                         <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal{{ mission.id }}">
                                             Suprimer
                                         </button>
                                     {% endblock %}
                                 </td>
                             {% endif %}
                         </tr>
                     {% endfor %}
                 </table>
             {% else %}
                 <div class="alert alert-dark mt-4 container text-center" style="width: 92%">Il n'y a pas encore de mission ajoutée</div>
             {% endif %}
         </div>
         <div class="Page navigation example d-flex justify-content-center">
             <div>
                 {{ knp_pagination_render(missions,'@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}
             </div>
         </div>

     </div>

 {% endblock %}