{% extends 'base.html.twig' %}
 {% block body %}
     {% include 'components/_header.html.twig' %}
     {% include 'components/_navbar.html.twig' %}
     <div class="container mt-4">
         <h1 class="my-5 text-dark text-center">Mission {{ mission.code }}</h1>
         <table class="table">
             <thead>
             <tr>
                 <th scope="col">Code</th>
                 <th scope="col">Pays</th>
                 <th scope="col">Date de début</th>
                 <th scope="col">Date de fin</th>
                 <th scope="col">Type</th>
                 <th scope="col">Status</th>
             </tr>
             </thead>
             <tbody>
             <tr>
                 <td>{{ mission.code }}</td>
                 <td>{{ mission.country|country_name}}</td>
                 <td>{{ mission.dateDebut.format('d-m-Y') }}</td>
                 <td>{{ mission.dateFin.format('d-m-Y') }}</td>
                 <td>{{ mission.type.name}}</td>
                 <td>{{ mission.status.name }}</td>

             </tr>
             </tbody>
         </table>
         <hr class="my-2">
         <strong class="text-dark">Titre : </strong>{{ mission.title }}<br>
         <hr class="my-2">
         <strong class="text-dark">Spécialité : </strong>{{ mission.speciality.name }}
         <hr class="my-2">
         <p><strong>Description : </strong> {{ mission.description }}</p>
         <hr class="my-2">
         <strong class="text-dark">Agents : </strong>
         {% for agent in mission.agent %}
         {{ agent.code }},
         {% endfor %}
         <hr class="my-2">
         <br>
        {% if app.user %}
            <div class="mb-5">
                {% include 'components/mission/_modal.html.twig' %}
                {% block button %}
                    <a class="btn btn-primary" href="/mission/{{ mission.id }}/edit">Modifier</a>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal{{ mission.id }}">
                        Suprimer
                    </button>
                {% endblock %}
            </div>
         {% endif %}
     </div>

 {% endblock %}