<div class="container text-center">
    <div class="container text-left">
        {{ form_start(form) }}
        {{ form_label(form, 'Le code de la planque')}}
        {{ form_widget(form.code , {'attr': {'placeholder': 'Ajouter un code','class':'form-control mb-2'}}) }}
        {{ form_label(form, 'Adresse')}}
        {{ form_widget(form.adresse , {'attr': {'placeholder': 'Ajouter une adresse','class':'form-control mb-2'}}) }}
        {{ form_label(form, 'Pays')}}
        {{ form_widget(form.country , {'attr': {'class':'form-control mb-2'}}) }}
        {{ form_label(form, 'Type')}}
        {{ form_widget(form.type , {'attr': {'class':'form-control mb-2'}}) }}
        <button class="btn btn-primary mt-2 mb-5">{% block btn %}{{ name }}{% endblock%} </button>
        {{ form_end(form) }}
    </div>
</div>


